.orto {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.lines {
    width: 100%;
    height: 45px;
    position: relative;

    margin-top: 20px;

}

.good .lines {
    width: 100%;
    height: 45px;
    position: relative;

    margin-top: 0px;
    z-index: 1;
}

.lines::after,
.lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: rgb(0, 0, 0);
    width: 45%;
    top: 45%;
}

.lines::after {
    left: 0;

}

.lines::before {
    right: 0;
}

.circle {
    height: 40px;
    width: 40px;
    border: 2px solid rgb(0, 0, 0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);

    /* animation: rotate 4s linear infinite */
}
.good{
    display: flex;

    width: 100%;
    height: 20px;
}
.good .circle {
    height: 40px;
    width: 40px;
    border: 2px solid rgb(0, 0, 0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;

    /* animation: rotate 4s linear infinite */
}

/* @keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
} */

/* Responsive code start */
@media screen and (max-width: 540px) {

    .lines::after,
    .lines::before {
        width: 39%;
    }

    .circle {
        height: 30px;
        width: 30px
    }


}